@import url("./vars.css");

@font-face {
    font-family: "geologica";
    src: url("../assets/fonts/Geologica_Auto-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
    height: 100%;
    min-height: auto;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    font-family: "geologica", sans-serif;
    background-color: rgb(70, 70, 70);
    color: var(--text-color);
    width: 100%;
}

.principal_contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1286px;
}

/* * Sección #1 | inicial del producto */

.first_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    background-color: var(--bg-color);

    padding-top: 40px;
}

.first_container .first_text {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    padding: 60px 20px;
}

.first_container .first_text h2 {
    color: var(--text-color);
    font-size: var(--title-2);
    text-align: center;
    max-width: 700px;
    margin-bottom: 25px;
}

.first_container .first_text p {
    color: var(--text-color);
    font-size: var(--text);
    text-align: center;
    font-weight: normal;
    width: 100%;
}

.first_container .first_img {
    align-self: center;
    width: 100%;
    max-width: 440px;
    padding: 0 20px;
    padding-bottom: 30px;
}

.first_container .first_img img {
    width: 100%;
}

/* REsponsive */
@media (min-width: 800px) {
    .first_container {
        flex-direction: row;
        overflow-x: visible;
        padding-top: 0;
        min-height: 600px;
    }

    .first_container .first_text {
        width: 50%;
    }

    .first_container .first_text h2 {
        font-size: var(--title);
        text-align: start;
    }

    .first_container .first_text p {
        text-align: start;
    }

    .first_container .first_img {
        position: relative;
        top: 140px;
        padding-top: 0;
        padding-bottom: 0;
    }
}

/* * Seccion #2 | Funciones principales */

.functions_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    width: 100%;
    background-color: var(--bg2-color);
    padding: 100px 20px;
    padding-bottom: 50px;
}

.functions_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.functions_text h2 {
    font-size: var(--title-2);
    color: var(--text-color);
    text-align: center;
}

.functions_text p {
    font-size: var(--text);
    color: var(--text-color);
    text-align: center;
    font-weight: normal;
    width: 100%;
    max-width: 840px;
}

.functions_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
    width: 100%;
}

.functions_content .functions_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    background-image: url("../assets/img/circle2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    max-width: 500px;
    min-height: 500px;
}

.functions_content .functions_img img {
    width: 40%;
}

.functions_content .functions_img img:first-child {
    position: relative;
    width: 50%;
    left: 20px;
    transform: scaleX(-1);
    rotate: -15deg;
    animation: subirBajar 2s linear infinite alternate;
}

@keyframes subirBajar {
    0% {
        transform: scaleX(-1) translateY(-5px);
    }
    100% {
        transform: scaleX(-1) translateY(15px);
    }
}

.functions_grid {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}

.functions_grid div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    width: 230px;
    max-width: 290px;
}

.functions_grid div img {
    width: 50%;
    max-height: 45px;
    max-width: 55px;
}

.functions_grid div h4 {
    width: 100%;
    color: var(--text-color);
    font-weight: 500;
    font-size: var(--text);
    text-align: center;
}

.functions_grid div p {
    width: 100%;
    color: var(--text-color);
    font-size: var(--text-2);
    text-align: center;
    font-weight: normal;
}

/* Responsive */

@media (min-width: 800px) {
    .functions_content {
        flex-direction: row;
    }

    .functions_grid {
        gap: 30px;
    }

    .functions_grid div {
        width: 100%;
    }
}

/* * Sección #4 | componente con titulo, texto iconos e imagenes */

.complete_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--bg-color);
}

.complete_container .complete_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 1040px;

    padding: 80px 30px;
    padding-bottom: 0;
}

.complete_container .complete_text h2 {
    color: var(--text-color);
    font-size: var(--title-3);
    margin-bottom: 20px;
    max-width: 800px;
}

.complete_container .complete_text p {
    color: var(--text-color);
    font-size: var(--text);

    width: 100%;
    max-width: 800px;
}

.complete_container .complete_text .complete_icons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;

    width: 100%;
    margin-top: 30px;
}

.complete_container .complete_text .complete_icons img {
    width: 50%;
    max-width: 160px;
}

.complete_container .complete_img {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    width: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 80px;
}

.complete_container .complete_img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(31, 31, 31);
    background: linear-gradient(180deg, rgba(20, 20, 20, 0) 75%, rgba(20, 20, 20, 1) 100%);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(0px);
    z-index: 0;
}

.complete_container .complete_img.section4 {
    background-image: url("../assets/img/img4_wave.svg");
}

.complete_container .complete_img.section5 {
    background-image: url("../assets/img/img5_wave.svg");
}

.complete_container .complete_img.section6 {
    background-image: url("../assets/img/img6_wave.svg");
}

.complete_container .complete_img.section6::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(31, 31, 31);
    background: linear-gradient(180deg, rgba(43, 45, 46, 0) 75%, rgba(43, 45, 46, 1) 100%);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(0px);
    z-index: 0;
}

.complete_container .complete_img img {
    width: 80%;
    max-width: 600px;
}

/* * Sección #3 | cuadricula */

.grid_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    background-color: var(--bg2-color);
    padding: 60px 0;
}

.grid_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    padding: 0 30px;
}

.grid_text h2 {
    color: var(--text-color);
    text-align: center;
    font-size: var(--title-2);
    margin-bottom: 10px;
}

.grid_text p {
    color: var(--text-color);
    font-size: var(--text);
    text-align: center;
}

.grid_items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: 50px;
    width: 100%;
    max-width: 1086px;
    margin-top: 50px;
}

.grid_item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    max-width: 420px;
    max-height: 340px;
    border-radius: 30px;
    box-shadow: 0px 0px 25px 2px rgb(31, 31, 31);
    /* background-color: var(--bg); */
    margin: 0 30px;
}

.grid_item h4 {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50%;
    color: var(--text-color);
    font-size: var(--text);
    font-weight: normal;
    align-self: flex-start;
}

.grid_item img {
    align-self: flex-end;
    height: 100%;
}

/* Responsive */
@media (min-width: 800px) {
    .grid_container {
        padding: 80px 0;
    }
}

/* * Sección #7 | componente de agua */

.water_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.water_container .water_text {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0 30px;
}

.water_container .water_text h2 {
    color: var(--text-color);
    font-size: var(--title-2);
    text-align: center;
}

.water_container .water_text p {
    color: var(--text-color);
    font-size: var(--text);
    text-align: center;
    font-weight: normal;
    width: 100%;
    max-width: 840px;
}

.water_container .water_img {
    width: 100%;
}

.water_container .water_img img {
    width: 100%;
}

/* responsive */

@media (min-width: 800px) {
    .water_container .water_text {
        top: 90px;
    }
}

/* * Sección #9 | componente para descargar la aplicación  */

.download_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    background-color: var(--bg-color);

    padding: 60px 0;
}

.download_container .download_image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 30px;
}

.download_container .download_image img {
    width: 90%;
}

.download_container .download_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 60px;
}

.download_container .download_text h2 {
    color: var(--text-color);
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
}

.download_container .download_text .download_links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 70%;
}

.download_container .download_text .download_links a {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 240px;
    height: 100%;
    max-height: 120px;
    margin: 0 10px;
    border-radius: 20px;
}

.download_container .download_text .download_links img {
    width: 100%;
    height: 100%;
    max-height: 120px;
}

.download_container .download_nota {
    color: var(--text-color);
    text-align: center;
    font-size: var(--text-2);
    max-width: 840px;
    margin-top: 30px;
}

/* responsive */

@media (min-width: 800px) {
    .download_image img {
        width: 60%;
        max-width: 540px;
    }
}
