:root {
    --bg: #3a3a3a;
    --bg-color: #1f1f1f;
    --bg2-color: #F9F9F9;
    --text-color: #ffffff;

    /* Tamaños */
    --title: 62px;
    --title-2: 40px;
    --title-3: 28px;
    --text: 20px;
    --text-2: 18px;
}
